<header class="sticky-header">
  <div class="header-container">
    <div class="logo-group">
      <span class="logo">ReelObsessed</span>
    </div>
    <div class="nav-group">
      <button class="watchlist-btn" (click)="ToWatchlist()">
        <span class="material-icons">bookmark_border</span>
        Watchlist
      </button> 
      <button class="liked-btn" (click)="ToLiked()">
        <span class="material-icons">favorite</span>
        Liked
      </button>
      <div class="profile-circle"></div>
    </div>
  </div>
</header>
<router-outlet></router-outlet>